@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}

body {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

span {
  font-size: 20px;
}

h1 {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 400;
}

p {
  font-family: 'PFDin';
  font-size: 25px;
  font-weight: 500;
}

div {
  font-size: 30px;
  background-image: url("../img/headBg.jpg") 0 0 no-repeat;
}

@media (max-width: 767px) {
  span {
    font-size: 15px;
  }

  div {
    font-size: 25px;
  }
}

.webp div { background-image: url(../img/headBg.webp) 0 0 no-repeat; }